/************************************************************[ IMPORTS ]*/
@use '../../colors/colors';
/************************************************************************/


/***********************************************************[ PROJECTS ]*/
@mixin projects {
    .projects {
        text-align: center;
        font-size: 1.5rem;
        color: colors.$tertiary;
        margin-top: -25vh;
    }
}
/************************************************************************/