$primary: rgb(0, 0, 0);
$secondary: rgb(158, 232, 255);
$tertiary: rgb(255, 255, 255);


$html: rgb(255, 102, 0);
$css: rgb(102, 51, 153);
$sass: rgb(191, 64, 128);
$git: rgb(240, 60, 46);
$github: rgb(0, 0, 0);
$accessibility: rgb(215, 128, 223);
$performances: rgb(255, 0, 0);
$javascript: rgb(219, 194, 0);
$node: rgb(76, 116, 53);
$react: rgb(92, 217, 255);